@import "components/home/header.css";
@import "components/plantBase/first-section.css";
@import "components/plantBase/second-section.css";
@import "components/home/footer.css";
@import "style.css";
@import "utils.css";


.btn-home:hover{
    background-color: inherit;
}

section, .categories, .featured, .filter{
    margin-top: 100px;
}

.header, .nav__list, .header .btn{
    background-color: var(--clr-white);
}





