@import "style.css";
@import "utils.css";


.main__search{
    margin-top: 6.25rem;
    margin-bottom: 2.5rem;
    width: 100%;
    max-width: 520px;
    position: relative;
    margin-inline: auto;
}

.search-logo{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
}


.search-input{
    outline: none;
    border: 2px solid var(--clr-green-900);
    font-family: var(--ff-secondary);
    outline: none;
    text-align: center;
    border-radius: 16px;
    padding: 25px 83px 25px 38px;
    font-size: 1.25rem;
    width: 100%;
    max-width: 520px;
}

.search-input::placeholder{
    color: var(--clr-green-900);
    font-weight: var(--fw-medium);
}

.second-section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.right, .left{
    background-color: var(--clr-green-100);
    border: 1px solid var(--clr-green-900);
    border-radius: 20px;
    
}

.right__left, .right__right, .left{
    padding: 1rem;
}

.right__left{
    border-bottom: 1px solid var(--clr-green-900);
    padding-bottom: 3rem;
}

.right__left h2{
    text-align: center;
    margin-bottom: 1.25rem;
    font-size: var(--size-36);
    font-weight: var(--fw-medium);
    text-decoration: underline;

}

.plant-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-inline: auto;
}

label{
    font-weight: var(--fw-regular);
    font-size: var(--size-18);
    width: max-content;
}

select{
    width: 140px;
    height: 47px;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid var(--clr-green-900);
    outline: none;
}

.last-select{
    width: 228px;
    margin-bottom: 1.25rem;
}

form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1.25rem;
}

form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left h2{
    font-size: var(--size-32);
    font-weight: var(--fw-semibold);
}

.result{
    font-size: 125px;
    font-family: var(--ff-primary);
}

@media (min-width: 900px){
    .right{
        display: flex;
        align-items: start;
    }
    
    .right__left{
        width: 40%;
        border-right: 1px solid var(--clr-green-900);
        border-bottom: none;
    }
    .right__right{
        width: 60%;
    }
    .last-select{
        margin-bottom: 4rem;
    }

    .right .cta-btn{
        width: 200px;
        margin-left: auto;
        margin-right: .5rem;
        display: block;
    }

    .right__right{
        padding-top: 1.5rem;
    }
    .left{
        text-align: center;
    }
}

@media (min-width: 1250px){
    .second-section{
        flex-direction: row;
    }
    .left{
        width: 335px;
    }
    .right{
        flex-grow: 1;
    }

    .main__search{
        margin-inline: initial;
    }
    
}